
/* videos section design here  */
/* .video-container .img-section{
    overflow: hidden;
}
.video-container img{
    transition: all ease-in 0.3s;
    cursor: pointer;
}
.video-container .img-section .icon{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all ease-in 0.1s;
}

.video-container .img-section:hover img{
    transform: scale(1.1);
}
.video-container .img-section:hover > .icon{
    background-color: red !important;
} */

.video-container iframe{
    min-height: 300px;
    width: 100%;
}

.video-container h4{
    color: black;
    font-size: 16px;
    margin: 1rem 0;
    font-weight: 400;
}

/* video details section  */
.video-details h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.video-details iframe{
    width: 50%;
    height: 350px;
    margin: 1rem auto;
}

.video-details h2{
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-bottom: 2rem;
    border-bottom: 2px solid gray;
    letter-spacing: 0.14px;
    position: relative;
}
.video-details h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background-color: red;
    height: 2px;
}
.video-details p{
    font-weight: 400;
    color: rgb(74, 74, 74);
    font-size: 15px;
    line-height: 24px;
    margin: 2rem 0;
}

@media screen and (max-width:992px) {
    .video-details iframe{
        width: 70%;
    }
    .video-details h1{
        font-size: 1.7rem;
    }
    
}

@media screen and (max-width:767px) {
    .video-details iframe{
        width: 95%;
        height: 300px;
    }
    .video-details h1{
        font-size: 1.5rem;
    }
} 