.list-container h1 {
    font-size: 1.5rem;
    /* background-color: red; */
    padding: 1rem .3rem;
    color: white;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}

.list-container li {
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 1rem .3rem;
    border-bottom: 1px solid rgb(192, 188, 188);
    cursor: pointer;

}

.list-container li:hover {
    color: red;

}

.list-container li a {
    transition: all ease-in-out .2s;
}

.list-container li:hover>a {
    margin-left: .3rem;
}