
.elevatro-content{
    /* height: 330px;
    overflow: hidden; */
}
.elevatro-content img{
    width: 100%;
    height: 100%;
    object-fit:center;
}
.elevatro-content h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .14px;
}
.elevatro-content p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .14px;
    margin: 0.7rem;
}
.elevatro-content button{
    background-color: white;
    border-radius: 50%;
}
.elevatro-content button:hover{
    animation: circle ease-in-out .6s;
}
@keyframes circle {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width:992px) {
    .elevatro-content h2{
        font-size: 1.4rem;
    }
    .elevatro-content p{
        color: white;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .14px;
        margin: 1rem;
    }
    
}

@media screen and (max-width:767px) {
    .elevatro-content h2{
        font-size: 1.1rem;
    }
    .elevatro-content p{
        margin: .5rem;
    }
} 
