
.contact-container h2 {
    color: black;
    font-size: 3.2rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0;
}
.contact-container h4{
    font-size: 18px;
    margin-bottom: .3rem;
    color: black;
    font-weight: 500;
}
.contact-container p{
    color: rgb(76, 76, 76);
    font-size: 14px;
    font-weight: 400;
    margin-top: .4rem;
    display: flex;
    align-items: start;
    column-gap: 0.6rem;
}
form input, form textarea {
    outline: none;
    border: 1px solid rgb(221, 215, 215);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin:0.5rem 0;
    font-size: 14px;
    color: black;
}
form input::placeholder, form textarea::placeholder{
    color: black;
}
form textarea {
    width: 100%;
    height: 170px;
}

form button {
    padding:.4rem 1.2rem ;
    border-radius: .8rem;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
@media screen and (max-width:992px) {
    .img-section h3, .contact-container h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:767px) {
    .img-section h3, .contact-container h2 {
        font-size: 1.5rem;
    }
}