.management-container h1{
    color: red;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.management-container h2{
    font-size: 2rem;
}
.management-container h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.management-container p{
    color: rgb(74, 74, 74);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.management-container img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

@media screen and (max-width:992px) {
    .management-container h1{
       font-size: 1.5rem;
    }
    
}

